:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  line-height: 1.5;
  font-weight: 400;
  color: #1f2328;
  background-color: #f6f8fa;
  font-size: 14px;
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
}

a {
  color: #0969da;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
